In [1]:
# find primeno.
l=[2,3,4,5,6,7,8,9,11] #o/p:2,3,5,7,11
plist=[]
for i in l:
    c=0
    for j in range(2,i):
        if(i%j==0):
            c=c+1
    if(c==0):
            print("prine numbers:",i)
            plist.append(i)
plist

prine numbers: 2
prine numbers: 3
prine numbers: 5
prine numbers: 7
prine numbers: 11

[2, 3, 5, 7, 11]

In [2]:
# sort the list if elements without using predefined function
l=[10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]>l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
l

[9, 10, 20, 89, 100, 500]

In [4]:
# sort the list if elements without using predefined function
l=[10,20,9,100,89,500]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]<l[j]):
            t=l[i]
            l[i]=l[j]
            l[j]=t
l

[500, 100, 89, 20, 10, 9]

In [1]:
# print the squares of a list elements
l=[1,2,3,4]  #o/p:[1,4,9,16]
li=[]
for i in l:
    li.append(i**2)
li

[1, 4, 9, 16]

### Tuples:
- Tuples also like a lists
- Tuples are immutable lists
- tuples are created by using paranthesis-->()

In [2]:
t=(1,2,3,"hello",4.5,9.9)
print(type(t))

<class 'tuple'>

In [3]:
t=(1,2,3,[10,20,30],"hello",6.77)
t

(1, 2, 3, [10, 20, 30], 'hello', 6.77)

In [4]:
li=[1,2,3,(1,2,3)]   # u can pass tuples in lists
type(t)

tuple

## Access Elements form Tuples

In [5]:
t=(1,2,3,"hello","5.7")
t[1:5]
t[1:]
t[-2]
t[::-1]
t[0::2]

(1, 3, '5.7')

In [6]:
t=([1,2,3],[4,5,6])
t[1][0]

4

In [7]:
t=(1,2,3,4,5,6,7,8,"hello")
t[-1]="welcome"  # we can't asssign that's why tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [8]:
l=[1,2,3,4,5]
l[0]=100       # we can assign values in lists
l

[100, 2, 3, 4, 5]

In [9]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [10]:
t=(1,2,3,4,5,6,"hello",2,2)
t.count(2)

3

In [11]:
t.index(5)

4

### sets:
- set is a un-order data elements
- set can be create by using {}
- set didn't allow the duplicate elements

In [12]:
# create a set
s={"hello","boys",1,2,3,4.5}
type(s)

set

In [13]:
s=set()
type(s)

set

In [14]:
s={}   # if no elements in {} then it is a dictionary
type(s)

dict

In [15]:
s={1,2,1,3,4,5,5,2.5,"hello","hello"}
s

{1, 2, 2.5, 3, 4, 5, 'hello'}

In [16]:
# u can't access the set ele by using index position--> s[0]
s={10,20,30,"nice","cook"} # in alphabets C is first cook print it
s

{10, 20, 30, 'cook', 'nice'}

In [17]:
# access the data by using for loop
s={10,20,30,"nice","cook"}
for i in s:
    print(i)

nice
10
cook
20
30

In [18]:
s={1,2,3,{10,20,30},"one string"}
s  # set in set not possible

TypeError: unhashable type: 'set'

In [19]:
s={1,2,3,[10,20,30],"one string"}
s  # can't pass lists in set

TypeError: unhashable type: 'list'

In [20]:
s={1,2,3,(10,20,30),"one string"}
s

{(10, 20, 30), 1, 2, 3, 'one string'}

In [21]:
l=[10,20,30] # we can pass lists to set by this way
s=set(l)
s

{10, 20, 30}

In [22]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [29]:
s={1,2,3,4,5}
s.add("hello")
s.add(100)
s

{1, 100, 2, 3, 4, 5, 'hello'}

In [30]:
#clear method-->delete
s.clear()
s

set()

In [31]:
s={1,2,3,4,5}
s_copy=s.copy()
s_copy

{1, 2, 3, 4, 5}

In [32]:
# difference s1-s2
s1={1,2,3,4,5,6,7}
s2={1,10,2,20,30,5}
s1.difference(s2) # same values not print

{3, 4, 6, 7}

In [33]:
s2.difference(s1)

{10, 20, 30}

In [34]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [35]:
s2

{1, 2, 5, 10, 20, 30}

In [36]:
s1.difference_update(s2)

In [37]:
s1

{3, 4, 6, 7}

In [38]:
s1={1,2,3,4,5,6,7}
s1.discard(2)
s1

{1, 3, 4, 5, 6, 7}

In [39]:
s1={1,2,3,4,5,6,7}
s2={1,10,2,20,30,5}
s1.intersection(s2)

{1, 2, 5}

In [40]:
s1={1,2,3,4,5,6,7}
s2={10,20,30,50}
s1.isdisjoint(s2) # no same values

True

In [41]:
s1={1,2,3,4,5,6,7}
s2={1,10,2,20,30,5}
s1.isdisjoint(s2)

False

In [42]:
s1={1,2,3,4,5,6,7}
s2={1,2,3}
s1.issubset(s2) # s2 anedi s1 ki subset

False

In [44]:
s2.issubset(s1)

True

In [45]:
s1={1,2,3,4,5,6,7}
s2={1,2,3}
s1.issuperset(s2)

True

In [46]:
s2.issuperset(s1)

False

In [47]:
s={10,20,2,3,4,5}
s.pop()

2

In [48]:
s

{3, 4, 5, 10, 20}

In [49]:
s={10,20,1,2,3,4,5}
s.remove(10)  # if ele not find it displays error

In [50]:
s

{1, 2, 3, 4, 5, 20}

In [51]:
s.discard(3)

In [52]:
s

{1, 2, 4, 5, 20}

In [53]:
a={1,2,3,4,5,6,7}
b={1,2,20,30,40,50}
a.symmetric_difference(b)

{3, 4, 5, 6, 7, 20, 30, 40, 50}

In [54]:
a

{1, 2, 3, 4, 5, 6, 7}

In [55]:
b

{1, 2, 20, 30, 40, 50}

In [56]:
a.symmetric_difference_update(b)

In [57]:
a

{3, 4, 5, 6, 7, 20, 30, 40, 50}

In [58]:
b

{1, 2, 20, 30, 40, 50}

In [59]:
s1={1,2,3,4,5,6,7}
s2={1,2,3,10,20}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 10, 20}

In [60]:
a={1,2,4}
b={4,5,6,7}
a.union(b)

{1, 2, 4, 5, 6, 7}

In [61]:
s1={1,2,3,4,5,6,7}
s2={1,2,3}
s1.update(s2)

In [62]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [63]:
s2

{1, 2, 3}