## Lists

In [12]:
list1 = [1,2,3]
list2 = ['a','b','c']
list1.append(list2)

In [13]:
list1

[1, 2, 3, ['a', 'b', 'c']]

In [14]:
list2

['a', 'b', 'c']

In [15]:
list2.remove("c")

In [16]:
list2

['a', 'b']

In [7]:
list1.pop()

['a', 'b']

In [8]:
list1

[1, 2, 3]

In [17]:
list3 = [1,2,3,4,5]
print(list3)

[1, 2, 3, 4, 5]

In [18]:
list3.clear()
list3

[]

In [21]:
list3.insert(3,"ALS")
list3

['AVS', 'ALS']

In [22]:
list5 = [1,2,3]
list6 = ['a','b','c']
list5.extend(list6)
list5

[1, 2, 3, 'a', 'b', 'c']

In [23]:
list5.insert(3,"Aravind")
list5

[1, 2, 3, 'Aravind', 'a', 'b', 'c']

In [24]:
list7=list5 + list6
list7

[1, 2, 3, 'Aravind', 'a', 'b', 'c', 'a', 'b', 'c']

In [25]:
for data in list5:
    print(data)

1
2
3
Aravind
a
b
c

In [26]:
employee=["sam","padukone","rakhul"]
manager=["Ram","kalyan","Abhi"]
for emp in manager:
    employee.append(emp)
    print(employee)

['sam', 'padukone', 'rakhul', 'Ram']
['sam', 'padukone', 'rakhul', 'Ram', 'kalyan']
['sam', 'padukone', 'rakhul', 'Ram', 'kalyan', 'Abhi']

In [27]:
employee=["sam","padukone","rakhul"]
manager=["Ram","kalyan","Abhi"]
for emp in employee:
    manager.append(emp)
    print(manager)

['Ram', 'kalyan', 'Abhi', 'sam']
['Ram', 'kalyan', 'Abhi', 'sam', 'padukone']
['Ram', 'kalyan', 'Abhi', 'sam', 'padukone', 'rakhul']

In [28]:
if "vamsi" in manager:
    print("He is in manager list")
else:
    print("No he is not one of the manager")

No he is not one of the manager

In [29]:
list5.extend(list6)
list5

[1, 2, 3, 'Aravind', 'a', 'b', 'c', 'a', 'b', 'c']

In [30]:
list5.count('a')

2

In [31]:
list5.count(2)

1

In [32]:
# in a given list i want to get 2nd highest value
#example:
#i/p: 321321 
#     3213
#     121
#     3 
#     3244234 
#     332443
#o/p: 332443

marks=[]
marks_size=int(input("enter how many marks are there"))
for data in range(marks_size):
    marks_list=int(input("enter marks"))
    marks.append(marks_list)
    print("entered marks are",marks)
def secondHighest(marks):
    marks.sort()
    return marks[-2]
    secondHighest(marks)

enter how many marks are there7
enter marks34
entered marks are [34]
enter marks22
entered marks are [34, 22]
enter marks12
entered marks are [34, 22, 12]
enter marks1
entered marks are [34, 22, 12, 1]
enter marks2
entered marks are [34, 22, 12, 1, 2]
enter marks3
entered marks are [34, 22, 12, 1, 2, 3]
enter marks4
entered marks are [34, 22, 12, 1, 2, 3, 4]