## Keywords :
- Assignment
- Memebership
- Idenetity

## Assignment Operators
- +=,-=,<=,>=,/=,//=,%=,*=,**=,==

In [1]:
a=10

In [2]:
a

10

In [3]:
a+=1

In [4]:
a

11

In [5]:
a+=2

In [6]:
a

13

In [7]:
a-=2

In [8]:
a

11

In [9]:
a*=2

In [10]:
a

22

In [11]:
a/=2

In [12]:
a

11.0

## Memebership Operators
- by using this operators we will identify a particular element belongs to a group or not.
- they are in,not in.

In [13]:
arr=[1,2,3,4,5,6]
inp=3
inp in arr

True

In [14]:
6 in arr

True

In [15]:
10 in arr

False

In [16]:
s='lakshman'
'n' in s

True

In [17]:
'lak' in s

True

In [18]:
bits='00100100111'
'00' in bits

True

In [19]:
4 not in arr

False

In [20]:
10 not in arr

True

## Identity Operators
- by using thi operators we compare values
- they are is,is not.

In [21]:
'abc' is 'abc'

True

In [22]:
'abc' is 'abd'

False

In [23]:
123 is 123

True

In [24]:
123 is 124

False

In [25]:
1123 is not 123

True

In [26]:
'abd' is not 'van'

True

## Conditional Control Statements
- it controls the flow of execution based on condition
- for that we have few diff type of statemnets
    - condiotional stat
    - looping stat
    - jump stat

### Conditional Stat
- if
- if else
- nested
- else if ladder

In [27]:
if(5<6):
    print('true')

true

In [30]:
if(5<6):
    print('i am inside of if')
    print("5 is small")
print('i am outside of if')

i am inside of if
5 is small
i am outside of if

In [31]:
if(5<6):
    print('i am inside of if')
else :
    print('i am inside of else')

i am inside of if

In [33]:
if(5>6):
    print('i am inside of if')
else :
    print('i am inside of else')
print("i am going to exit")

i am inside of else
i am going to exit

In [34]:
if(5>6):
    if(6>7):
        print('6 is existed in b/w 5 and 6')
    else :
        print('wrong choice')
else:
    print("try again")

try again

In [36]:
if((6>7) and (5<6)):
        print('6 is existed in b/w 5 and 6')
else :
        print('wrong choice')

wrong choice

In [38]:
if(34>67):
        print('6 is existed in b/w 5 and 6')
elif(34>45) :
        print('wrong choice')
else:
    print("false")

false

In [39]:
a=10
print(a, 'is big')

10 is big

In [40]:
n = int(input('enter a value'))
if(n%5==0):
    print('given number is 5 multiple')
else:
    print('not a 5 multiple')

enter a value25
given number is 5 multiple

In [41]:
n= int (input())
if (n%2==0):
    print(pow(n,2))
else:
    print(n*5)

6
36